{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time Table Automation</title>
    {% load static%}
    <link rel="stylesheet" href='{% static 'styles.css'%}'>
</head>
<body>
 
    <div class="banner">
    <div class="navbar">

        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/9/95/Indian_Institute_of_Information_Technology%2C_Dharwad_Logo.svg/1200px-Indian_Institute_of_Information_Technology%2C_Dharwad_Logo.svg.png" height='50' width='50' alt="logo" class="logo">
    <ul class="list">

        <li><a href="1">HOME</a></li>
        <li><a href="2">About</a></li>
        <li><a href="4">STUDENT</a></li>
        <li><a href="5"> FACULTY</a> </li>
        <li><a href="7">CLASSROOM</a></li>
        <li><a href="8">LAB</a></li>
        <li><a href="6">CONTACT</a></li>
        <li><a href="log">LOGIN</a></li>
        <!-- <button type="button" formaction="login.html">LOGIN</button> -->
   
    </ul>

</div>
</div>


<div class="content">
    <h1>Contacts</h1>
  </div>


</body>
</html>