{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time Table Automation</title>
    {% load static%}
    <link rel="stylesheet" href='{% static 'styles.css'%}'>
</head>
<body>
 
    <div class="banner">
    <div class="navbar">

        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/9/95/Indian_Institute_of_Information_Technology%2C_Dharwad_Logo.svg/1200px-Indian_Institute_of_Information_Technology%2C_Dharwad_Logo.svg.png" height='50' width='50' alt="logo" class="logo">
    <ul class="list">

        <li><a href="1">HOME</a></li>
        <li><a href="2">About</a></li>
        <li><a href="4">STUDENT</a></li>
        <li><a href="5"> FACULTY</a> </li>
        <li><a href="7">CLASSROOM</a></li>
        <li><a href="8">LAB</a></li>
        <li><a href="6">CONTACT</a></li>
        <li><a href="log">LOGIN</a></li>
        <!-- <button type="button" formaction="login.html">LOGIN</button> -->
   
    </ul>

</div>
</div>


<div class="content">
   
  </div>
  <center>
  <center><h1>TIME TABLE</h1></center>
  {%for o,g in zipped %}
  <center><h2>{{g}}</h2></center>
  <table border="6" cellspacing="0" align="center">
      <table border="5" cellspacing="0" align="center">
          <!--<caption>Timetable</caption>-->
          <tr>
              <td align="center" height="50" ><br>
                  <b>Day/Period</b></br>
              </td>
              <td align="center" height="50" >
                  <b>I<br>9:00-10:30</b>
              </td>
              <td align="center" height="50" >
                  <b>II<br>10:45-11:45</b>
              </td>
              <td align="center" height="50" >
                  <b>III<br>11:45-12:45</b>
              </td>
              <td rowspan="7" align="center" height="50">
                  <h2>L<br>U<br>N<br>C<br>H</h2>12:45-1:45
              </td>
              <td align="center" height="50" >
                  <b>IV<br>1:45-3:15</b>
              </td>
              <td align="center" height="50" >
                  <b>V<br>3:15-4:45</b>
              </td>
              
          </tr>
  
      {%for p in o %}
      <tr>
          {%for q in p%}
              <td align="center" height="50">{{q}}</td>
          {%endfor%}
      </tr>
      {%endfor%}
  </table>
  <br><br>
  {%endfor%}
</center>
</body>
</html>